<ul data-v-3de27608="" class="flex items-center gap-2 p-4 w-full autoplay">
  <li data-v-3de27608="">
      <a href="" target="_blankt"><img src="/screens/frontend-mentor-1.png" alt="frontend mentor project nr. 1" class="min-w-65" /></a>
  </li>
  <li data-v-3de27608="">
      <a href="" target="_blankt"><img src="/screens/frontend-mentor-2.png" alt="frontend mentor project nr. 2" class="min-w-65" /></a>
  </li>
  <li data-v-3de27608="">
      <a href="" target="_blankt"><img src="/screens/frontend-mentor-3.png" alt="frontend mentor project nr. 3" class="min-w-65" /></a>
  </li>
  <li data-v-3de27608="">
      <a href="" target="_blankt"><img src="/screens/frontend-mentor-4.png" alt="frontend mentor project nr. 4" class="min-w-65" /></a>
  </li>
  <li data-v-3de27608="">
      <a href="" target="_blankt"><img src="/screens/frontend-mentor-5.png" alt="frontend mentor project nr. 5" class="min-w-65" /></a>
  </li>
  <li data-v-3de27608="">
      <a href="" target="_blankt"><img src="/screens/frontend-mentor-6.png" alt="frontend mentor project nr. 6" class="min-w-65" /></a>
  </li>
  <li data-v-3de27608="">
      <a href="" target="_blankt"><img src="/screens/frontend-mentor-7.png" alt="frontend mentor project nr. 7" class="min-w-65" /></a>
  </li>
  <li data-v-3de27608="">
      <a href="" target="_blankt"><img src="/screens/frontend-mentor-8.png" alt="frontend mentor project nr. 8" class="min-w-65" /></a>
  </li>
  <li data-v-3de27608="">
      <a href="" target="_blankt"><img src="/screens/frontend-mentor-9.png" alt="frontend mentor project nr. 9" class="min-w-65" /></a>
  </li>
  <li data-v-3de27608="">
      <a target="_blankt"><img src="/screens/frontend-mentor-10.png" alt="frontend mentor project nr. 10" class="min-w-65" /></a>
  </li>
  <li data-v-3de27608="">
      <a href="" target="_blankt"><img src="/screens/frontend-mentor-1.png" alt="frontend mentor project nr. 1" class="min-w-65" /></a>
  </li>
  <li data-v-3de27608="">
      <a href="" target="_blankt"><img src="/screens/frontend-mentor-2.png" alt="frontend mentor project nr. 2" class="min-w-65" /></a>
  </li>
  <li data-v-3de27608="">
      <a href="" target="_blankt"><img src="/screens/frontend-mentor-3.png" alt="frontend mentor project nr. 3" class="min-w-65" /></a>
  </li>
  <li data-v-3de27608="">
      <a href="" target="_blankt"><img src="/screens/frontend-mentor-4.png" alt="frontend mentor project nr. 4" class="min-w-65" /></a>
  </li>
</ul>
