@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --font-sans: 'Public Sans', sans-serif;

  --ui-bg: #14041B;
  --ui-text: #FFFFF8;

  --color-vaporware-100: #13031a;
  --color-vaporware-200: #30032a;
  --color-vaporware-300: #4d023a;
  --color-vaporware-400: #6a024b;
  --color-vaporware-500: #86025b;
  --color-vaporware-600: #a3016b;
  --color-vaporware-700: #c0017c;
  --color-vaporware-800: #dd008c;
  --color-vaporware-900: #fa009c;
}

:where(*) {
  border-color: color-mix(in oklab, var(--color-vaporware-600) 60%, transparent);
}